[{{ client }}]
        key = {{ secret }}
        caps mds = "allow *"                         
        caps mgr = "allow profile mds"               
        caps mon = "allow profile mds"               
        caps osd = "allow rwx"   

