[mon.]
        key = {{ mon_secret }}
        caps mon = "allow *"
[client.admin]
	key = {{ admin_secret }}
	caps mds = "allow *"
	caps mon = "allow *"
	caps osd = "allow *"
	caps mgr = "allow profile mds"
