[config]
cluster_client_name = {{ client }}
pool = {{ pillar['iscsi-pool'] }}
trusted_ip_list = {{ trusted_ip_list }}
minimum_gateways = 1
api_port = {{ pillar.get('ceph_iscsi_port', '5000') }}
api_user = {{ pillar.get('ceph_iscsi_username', 'admin') }}
api_password = {{ pillar.get('ceph_iscsi_password', 'admin') }}
{% if pillar.get('ceph_iscsi_ssl', True) %}
api_secure = true
{% else %}
api_secure = false
{% endif %}
