{% if not salt['cmd.run']('rados lspools | grep -q "^iscsi-images$"') and not salt['cmd.run']('rbd --pool iscsi-images ls | grep -q "^demo$"') %}
{
    "auth": [
        {
            "authentication": "none",
            "target": "iqn.2016-11.org.linux-iscsi.igw.x86:sn.demo"
        }
    ],
    "targets": [
        {
            "hosts": [
{% for minion in salt.saltutil.runner('select.minions', cluster='ceph', roles='igw') %}
                {
                    "host": "{{ minion }}",
                    "portal": "portal-{{ minion }}"

{% if loop.last %}
                }
{% else %}
                },
{% endif %}
{% endfor %}
            ],
            "target": "iqn.2016-11.org.linux-iscsi.igw.x86:sn.demo"
        }
    ],
    "portals": [
{% for minion, address in salt.saltutil.runner('select.public_addresses', cluster='ceph', roles='igw', tuples=True) %}
        {
            "name": "portal-{{ minion }}",
            "addresses": [
                "{{ address }}"
            ]
{% if loop.last %}
        }
{% else %}
        },
{% endif %}
{% endfor %}
    ],
    "pools": [
        {
            "pool": "iscsi-images",
            "gateways": [
                {
                    "target": "iqn.2016-11.org.linux-iscsi.igw.x86:sn.demo",
                    "tpg": [
                        {
                            "image": "demo"
                        }
                    ]
                }
            ]
        }
    ]
}
{% else %}
{
  "auth": [],
  "targets": [],
  "portals": [],
  "pools": []
}
{% endif %}
