[{{ client }}]
        key = {{ secret }}
        caps mon = "profile rbd"
        caps osd = "profile rbd pool={{ prefix }}cloud-volumes, profile rbd pool={{ prefix }}cloud-vms, profile rbd pool={{ prefix }}cloud-images"
