{% if salt.saltutil.runner('select.minions', cluster='ceph', roles='mds') != [] %}
EXPORT
{
	Export_ID=1;

	Path = /;

	Pseudo = /cephfs/;

	Access_Type = RW;

	Protocols = 3, 4;

	Transports = UDP, TCP;

    FSAL {
            Name = CEPH;
            User_Id = "{{user_id}}";
            Secret_Access_Key = "{{secret_access_key}}";
    }

}

{% endif %}

{% if salt.saltutil.runner('select.minions', cluster='ceph', roles=role) != [] %}

{% for user in salt['rgw.users']() %}
EXPORT
{
	Export_ID={{ loop.index + 1 }};

	# exporting {{ user }}-demo bucket
	Path = "{{ user }}-demo";
	
	# You can also export the root path / inplace of bucket name
	# Path = "/"

	Pseudo = "/{{ user }}/{{ user }}-demo";

	Access_Type = RW;

	Protocols = 3, 4;

	Transports = UDP, TCP;

	FSAL {
		Name = RGW;
		User_Id = "{{ user }}";
		Access_Key_Id ="{{ salt['rgw.access_key'](user) }}";
		Secret_Access_Key = "{{ salt['rgw.secret_key'](user) }}";
	}
}

{% endfor %}

{% set name = "client." + ganesha_role + "." + host %}
RGW {
    ceph_conf = "/etc/ceph/ceph.conf";
    name = "{{name}}";
    cluster = "ceph";
}


{% endif %}

#NFS-Ganesha is compiled with kerberos support.
#Set this value to true to use kerberos support.
#Refer to man page "ganesha-core-config"
NFS_KRB5
{
	Active_krb5 = false;
}
