EXPORT
{
	Export_ID=1;

	Path = /;

	Pseudo = /cephfs/;

	Access_Type = RW;

	NFS_Protocols = 4;

	Transport_Protocols = TCP;

	FSAL {
		Name = CEPH;
	}
}

{% for user in [ 'demo' ] %}
EXPORT
{
	Export_ID=2;

	Path = "/";

	Pseudo = "/demo";

	Access_Type = RW;

	NFS_Protocols = 4;

	Transport_Protocols = TCP;

	FSAL {
		Name = RGW;
		User_Id = "{{ user }}";
		Access_Key_Id ="{{ salt['rgwuser.access_key'](user) }}";
		Secret_Access_Key = "{{ salt['rgwuser.secret_key'](user) }}";
	}
}

RGW {
    ceph_conf = "/etc/ceph/ceph.conf";
}
{% endfor %}

