# See https://prometheus.io/docs/alerting/configuration/ for documentation.

global:
  # The smarthost and SMTP sender used for mail notifications as configured by
  # the pillar.
  smtp_smarthost: '{{ salt['pillar.get']('monitoring:smpt_host') }}'
  smtp_from: '{{ salt['pillar.get']('monitoring:smpt_from') }}'
  smtp_auth_username: '{{ salt['pillar.get']('monitoring:smpt_user') }}'
  smtp_auth_password: '{{ salt['pillar.get']('monitoring:smpt_auth') }}'

{% include "ceph/monitoring/prometheus/files/alertmanager.global.conf" ignore missing %}

# The directory from which notification templates are read.
templates:
- '/etc/prometheus/alertmanager_templates/*.tmpl'

route:
{% include "ceph/monitoring/prometheus/files/alertmanager.route.conf" ignore missing %}

inhibit_rules:
{% include "ceph/monitoring/prometheus/files/alertmanager.inhibit_rule.conf" ignore missing %}

receivers:
{% include "ceph/monitoring/prometheus/files/alertmanager.receivers.conf" ignore missing %}
