groups:
  - name: cluster health
    rules:
      - alert: health error
        expr: ceph_health_status == 2
        for: 5m
        annotations
          description: Ceph in error for > 5m
          severity: ciritical
      - alert: unhealthy
        expr: ceph_health_status != 0
        for: 15m
        annotations
          description: Ceph not healthy for > 5m
          severity: warning
  - name: mon
    rules:
      - alert: low monitor quorum count
        expr: ceph_monitor_quorum_count < 3
        annotations:
          description: Monitor count in quorum is low
          severity: critical
  - name: osd
    rules:
  - name: mds
    rules:
  - name: mgr
    rules:
  - name: nodes
    rules:
