# Default config for Prometheus.

global:

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'ses'

rule_files: []

scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'ceph-exporter'
    static_configs:
      - targets: ['{{ salt['master.minion']() }}:9128']

  - job_name: 'node-exporter'
    file_sd_configs:
      - files: [ '/etc/prometheus/ses_nodes/*.yml' ]
