# DeepSea default configuration. Changes in this file will be overwritten on
# package update. Include custom configuration fragments in
# /srv/salt/ceph/configuration/files/ceph.conf.d/[global,osd,mon,mgr,mds,client].conf
[global]
fsid = {{ salt['pillar.get']('fsid') }}
mon_initial_members = {{ salt.saltutil.runner('select.minions', roles='mon', host=True) | join(', ') }}
mon_host = {{ salt.saltutil.runner('select.public_addresses', roles='mon') | join(', ') }}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
public_network = {{ salt['pillar.get']('public_network') }}
cluster_network = {{ salt['pillar.get']('cluster_network') }}
ms_bind_msgr2 = false

# enable old ceph health format in the json output. This fixes the
# ceph_exporter. This option will only stay until the prometheus plugin takes
# over
mon_health_preluminous_compat = true
mon health preluminous compat warning = false

{% set ipv6=salt['public.ipv6']() %}
{% if ipv6 %}
ms bind ipv4 = {{ salt['public.ipv4']() | lower }}
ms bind ipv6 = true
ip_version = ipv6
{% endif %}

{% include "ceph/configuration/files/rbd.conf" %}

{% include "ceph/configuration/files/ceph.conf.d/global.conf" ignore missing %}

{% for config,host,fqdn in salt.saltutil.runner('select.from', pillar='rgw_configurations', role='rgw', attr='host, fqdn') %}
{% if config is not none %}
{% set client = config + "." + host %}
{% if salt['file.file_exists']("/srv/salt/ceph/configuration/files/ceph.conf.d/" + config + ".conf") %}
{% include "ceph/configuration/files/ceph.conf.d/" + config + ".conf" %}
{% else %}
{% include "ceph/configuration/files/" + config + ".conf" %}
{% endif %}
{% endif %}
{% endfor %}

[osd]
{% include "ceph/configuration/files/ceph.conf.d/osd.conf" ignore missing %}

[mon]
{% include "ceph/configuration/files/ceph.conf.d/mon.conf" ignore missing %}

[mgr]
{% include "ceph/configuration/files/ceph.conf.d/mgr.conf" ignore missing %}

[mds]
{% include "ceph/configuration/files/ceph.conf.d/mds.conf" ignore missing %}

[client]
{% include "ceph/configuration/files/ceph.conf.d/client.conf" ignore missing %}
