# DeepSea default configuration. Changes in this file will be overwritten on
# package update. Include custom configuration fragments in
# /srv/salt/ceph/configuration/files/ceph.conf.d/[global,osd,mon,mds,client].conf
[global]
fsid = {{ salt['pillar.get']('fsid') }}
mon_initial_members = {{ salt['pillar.get']('mon_initial_members') | join(', ') }}
mon_host = {{ salt['pillar.get']('mon_host') | join(', ') }}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
filestore_xattr_use_omap = true
public_network = {{ salt['pillar.get']('public_network') }}
cluster_network = {{ salt['pillar.get']('cluster_network') }}

{% include "ceph/configuration/files/ceph.conf.rbd"}

{% include "ceph/configuration/files/ceph.conf.d/global.conf" ignore missing %}

{% for config in salt['rgw.configurations']() %}
{% set client = config + "." + grains['host'] %}
{% include "ceph/configuration/files/ceph.conf." + config %}
{% endfor %}

[osd]
{% include "ceph/configuration/files/ceph.conf.d/osd.conf" ignore missing %}

[mon]
{% include "ceph/configuration/files/ceph.conf.d/mon.conf" ignore missing %}

[mds]
{% include "ceph/configuration/files/ceph.conf.d/mds.conf" ignore missing %}

[client]
{% include "ceph/configuration/files/ceph.conf.d/client.conf" ignore missing %}
